---
import Layout from '../../layouts/Layout.astro'
import { getLaunchesBy } from '../../services/spacex'

const { id } = Astro.params

let launch

if (id) {
    launch = await getLaunchesBy({ id })
}
---

<Layout>
    <article class='flex gap-y-4 flex-col'>
        <img
            class='w-52 h-auto'
            src={launch?.links?.patch.small}
            alt={launch?.id}
        />
        <h2 class='text-4xl text-white font-bold'>
            Launch #{launch?.flight_number}
        </h2>
        <p class='text-lg'>{launch?.details}</p>
    </article>
</Layout>
