---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <div class='flex flex-col items-center justify-center h-screen'>
        <a
            href='/'
            class='text-3xl font-bold text-white mb-2 bg-red-900 rounded px-4'
            >Volver al inicio</a
        >
        <img
            src='https://img.freepik.com/vector-gratis/pagina-error-404-distorsion_23-2148105404.jpg'
            alt=''
        />
    </div>
</Layout>
