---
import Layout from '../layouts/Layout.astro'
---

<Layout title='About'>
    <h1>About the project</h1>

    <p>
        This is a demo of Astro's <a
            class='text-yellow-400'
            href='https://docs.astro.build/en/core-concepts/astro-components/'
            >Astro components</a
        > and <a
            class='text-yellow-400'
            href='https://docs.astro.build/en/guides/markdown-content/'
            >Markdown content</a
        >.
    </p>
</Layout>
